.companylogos {
  padding: 1rem;
  margin-block: 3rem;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4rem;
    row-gap: 6rem;
  }
}
