.header {
  padding: 1rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .logo {
      font-size: 2.5rem;
      font-weight: 400;
    }

    .nav {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.6rem;
      ul {
        display: flex;
        align-items: center;
        gap: 1rem;

        li {
          background-color: var(--bgsb);
          padding: 1rem 2rem;
          border-radius: 0.5rem;

          &:hover {
            background-color: #9e9e9e3a;
            backdrop-filter: blur(5px);
          }
        }
      }

      .btns-groups {
        display: flex;
        align-items: center;
        gap: 1rem;

        .btn-cart {
          border-radius: 0.5rem;
          background-color: var(--bgsb);
          padding: 1rem 1.5rem;

          &:hover {
            background-color: #9e9e9e3a;
            backdrop-filter: blur(5px);
          }

          span {
            background-color: var(--bgp);
            color: var(--bgb);
            width: 20px;
            aspect-ratio: 1;
            padding: 0 1rem;
            border-radius: 2rem;
            margin-left: 0.2rem;
            font-family: "Roboto Mono", monospace;
          }
        }
      }
    }
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  background-color: var(--bgsb);
  border-radius: 0.5rem;
  gap: 5px;
  padding: 3px 5px;
  z-index: 9999;

  span {
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: var(--bgw);
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
    transform-origin: 10px 2px;
  }
}

.hamburger.active {
  span {
    &:first-child {
      rotate: 405deg;
    }

    &:nth-child(2) {
      display: none;
    }

    &:last-child {
      rotate: -405deg;
    }
  }
}

@media (max-width: 999px) {
  .header {
    .container {
      position: relative;
    }

    .hamburger {
      display: flex;
    }
  }
  .nav {
    ul {
      z-index: 999;
      position: absolute;
      top: -500px;
      left: 50%;
      translate: -50% 0;

      flex-direction: column;
      width: 100%;
      padding: 1rem;
      transition: top 0.6s ease-in-out;

      li {
        width: 100%;
        padding: 2rem 2rem !important;
      }
    }
  }

  .nav.active {
    ul {
      top: 8rem !important;
    }
  }
}

@media (max-width: 499px) {
  .nav {
    .btns-groups {
      button {
        display: none !important;
      }
    }
  }

  .nav {
    ul {
      li {
        width: 100%;
      }
    }
  }
}
